node {
	fill-color: black;
	size: 10px;
	stroke-mode: plain;
	stroke-color: black;
	stroke-width: 1px;
}

node.visited {
	fill-color: yellow;
}

node.start {
	fill-color: red;
}

node.delivery {
	fill-color: orange;
}

edge.visited {
	fill-color: yellow;
}

